.bestdeal{
    padding: 20px;
    background: linear-gradient(to bottom, #f9f4d4, white);
}
.bestdeal1{
    padding: 20px;
}
.bestdeal1 span{
   color: #14b1f0;
}
.bestdeal2{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    row-gap: 50px;
}
.bestdeal2 img{
    width: 100%;
}